@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root {
    --bs-primary: #B8F442;
    --bs-primary-rgb: 184, 244, 66;
    --bs-table-bg: #333333;
    --bs-font-sans-serif: "Inter", sans-serif;
}

body {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/*#top-nav-bar {*/
/*    z-index: 1000;*/
/*}*/
/* #sidebar {*/
/*    z-index: 1001;*/
/*}*/

#top-nav-bar .notification-badge {
    top: 18px;
    right: -2px;
    padding: 5px;
}

#sidebar .nav-link:hover {
    background-color: #B8F442;
}

#sidebar .nav-link.active {
    background-color: var(--bs-primary);
}

.chart-legend {
    padding: 1px;
    top: 12px;
}

.table.rounded tr th {
    width: 2rem;
}

.caption-size {
    font-size: 0.63rem;
}

/* SMALL SCREENS */
@media (max-width: 991px) {
    #top-nav-bar .notification-badge {
        top: 13px;
        right: -2px;
        padding: 5px;
    }
}
/* BIG SCREENS */
@media (min-width: 992px) {
    #top-nav-bar {
        height: 100px;
    }

    .sidebar-header {
        height: 100px;
    }
}
